
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hotel App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <button class="nav-link active" aria-current="page" [routerLink]="['/']">Home </button>
        </li>
        <li class="nav-item">         
          <button class="nav-link" [routerLink]="['/create-reservation']">Create Reservation </button>
        </li>
        <li class="nav-item">         
          <button class="nav-link" [routerLink]="['/reservation-list']">Reservation-list </button>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2>Create a New Reservation</h2>
  <div class="alert alert-danger" *ngIf="reservationForm.invalid && reservationForm.touched">Please fill all required filled</div>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="guestName" class="form-label">Name</label>
      <input type="text" id="guestName" class="form-control" formControlName="guestName" placeholder="Enter name">
      <div class="text-danger"  *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.touched">Please enter name</div>
    </div>
    <div class="mb-3">
      <label for="guestEmail" class="form-label">Email</label>
      <input type="email" id="guestEmail" class="form-control" formControlName="guestEmail" placeholder="Enter email">
      <div class="text-danger"  *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.touched">Please enter email</div>
    </div>
    <div class="mb-3">
      <label for="checkInDate" class="form-label">Check-in Date</label>
      <input type="date" id="checkInDate" class="form-control" formControlName="checkInDate" placeholder="Check-in Date">
      <div class="text-danger"  *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.touched">Please enter check in date</div>
    </div>
    <div class="mb-3">
      <label for="checkOutDate" class="form-label">Check-out Date</label>
      <input type="date" id="checkOutDate" class="form-control" formControlName="checkOutDate" placeholder="Check-out Date">
      <div class="text-danger"  *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.touched">Please enter check out date</div>
    </div>
    <div class="mb-3">
      <label for="roomNumber" class="form-label">Room Number</label>
      <input type="number" id="roomNumber" class="form-control" formControlName="roomNumber" placeholder="Enter room number">
      <div class="text-danger"  *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.touched">Please enter room no</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid" >Submit Reservation</button>
  </form>
</div>
